*{
 /* color: var(--black); */
 font-family: poppins;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root{
 --main: #118ab2;
 --secondary: #ef476f;
 --tertiary: #fff;
 --white: #e9ecef;
 --black: #212529;
 --grey: #495057;
}

body{
 position: relative;
 width: 100vw;
 height: 100vh;
 display: grid;
 grid-template: 1fr 5fr / 1fr 5fr;
 grid-template: 185px auto / 1fr 5fr;
 grid-template-areas: "aside header" "aside main";
 overflow-x: hidden;
 position: relative;
}

header{
 grid-area: header;
 background-color: var(--tertiary);
 /* position: sticky; */

 box-shadow: 0 0 10px 1px #ccc;
}
aside{
 /* position: fixed; */
 top: 0;
 padding-top: 1rem;
 display: flex;
 flex-direction: column;
 gap: 4rem;
 grid-area: aside;
 background-color: var(--main);
 z-index: 1;
 width: 17vw;
 height: 100%;
}
#dashboard{
 position: relative;
 left: 2rem;
}
#dashboard > svg{
 transform: scale(1.2);
}
.aside-item{
 transition: 0.3s;
 position: relative;
 left: 2rem;
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 20px;
}
#dashboard:hover{
 cursor: default;
}
.aside-item:hover{
 cursor: pointer;
}
#dashboard:hover *{
 transition: 0s;
 color: var(--tertiary);
}
.aside-item:hover *{
 transition: 0.3s;
 color: purple;
 /* background-color: #495057; */
}
.aside-item > svg, .aside-item > p, .aside-item > h2{
 color: var(--tertiary);
}
.aside-item > h2{
 font-weight: 500;
 font-size: 2rem;
}
.aside-item > p{
 font-size: 1.2rem;
}
#main, #extra{
 display: flex;
 flex-direction: column;
 gap: 15px;
}

/* ----- Main ----- */
main{
 display: grid;
 grid-template: 1fr 1fr / 3fr 1fr;
 /* grid-template: 50% 50% / 75% 25%; */
 grid-template-areas: "projects announcements" "projects trending";
 gap: 2.5rem;
 padding-top: 2.5rem;
 padding-right: 2.5rem;
 padding-left: 2.5rem;
 height: auto;

 grid-area: main;
 background-color: var(--white);
 z-index: -1;
}
section{
 display: grid;
 grid-template-rows: 3rem 1fr;
 /* border: 1px solid green; */
}
section *{
 /* border: 1px solid green; */
}
.heading{
 display: flex;
 flex-direction: row;
 align-items: flex-end;
 /* padding-left: 1rem; */
}
.projects{
 padding-left: 1rem;
}
.heading > h4{
 font-weight: 500;
 font-size: 20px;
}
#projects{
 grid-area: projects;
}
#announcements{
 grid-area: announcements;
}
#trending{
 grid-area: trending;
}

/* ----- Projects Section ----- */
#cards-div{
 display: grid;
 grid-auto-rows: 1fr;
 grid-template: 1fr / repeat(auto-fit, minmax(400px, 1fr));
 padding: 1rem;
 gap: 1.5rem;
}
.card{
 background-color: var(--tertiary);
 border-radius: 10px;
 border-left: 5px solid var(--secondary);
 padding: 1rem;
 height: 200px;
 box-shadow: 0 0 5px 1px #ccc;
}
.card > h6{
 /* color */
 font-size: 18px;
 font-weight: 500;
}

/* ----- Announcements Section ----- */
#announcements *{
 /* border: 1px solid purple; */
}
#anc-container{
 background-color: var(--tertiary);
 border-radius: 10px;
 /* margin: 0 auto; */
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 1rem;
 padding: 1rem;
 margin-top: 1rem;
 box-shadow: 0 0 5px 1px #ccc;
}
.anc > h6{
 font-size: 16px;
 font-weight: 500;
}
.anc > p{
 font-size: 14px;
}
.hr{
 height: 1px;
 border: none;
 background-color: var(--grey);
}
#anc-container > hr, .anc > p, .hr{
 color: var(--grey);
}

/* ----- Trending section ----- */
#trend-container{
 padding: 1rem;
 margin-top: 1rem;
 background-color: var(--tertiary);
 border-radius: 10px;
 box-shadow: 0 0 5px 1px #ccc;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding-left: 2rem;
}
#trend-container *{
 /* border: 1px solid green; */
}
.user-div{
 /* margin: auto; */
 display: flex;
 flex-direction: row;
 gap: 1rem;
 align-items: center;
}
.user-div > img{
 /* width: 60px; */
 height: 60px;
}
.user{
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.handle{
 font-weight: 400;
 font-size: 16px;
}
.user > p{
 color: var(--grey);
 font-size: 14px;
}

/* ----- Header ----- */
header{
 display: grid;
 grid-template: 40% 60% / 60% 40%;
}
header *{
 /* border: 1px solid green; */
}

#search{
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
 gap: 1rem;
 padding-left: 10%;
}
#search > svg{
 color: var(--grey);
}
#search > input{
 border-radius: 10px;
 height: 30px;
 width: 70%;
 border: 1px solid var(--white);
 padding-left: 1rem;
 /* box-shadow: 0 0 2px 0px var(--grey); */
 background-color: var(--white);
}
#search > input:focus{
 outline: none;
}
/*  */
#account{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-end;
 gap: 2rem;
 padding-right: 10%;
}
#account > svg{
 color: var(--grey);
}
#account > img{
 height: 90%;
 width: auto;
}
#account > p{
 font-weight: 500;
}
/*  */
#welcome{
 display: flex;
 flex-direction: row;
 align-items: center;
 padding-left: 10%;
 gap: 1rem;
}
#welcome > img{
 width: 80px;
 /* height: 50%; */
}
#welcome h4{
 font-size: 20px;
 font-weight: 500;
}
#welcome p{
 font-weight: 400;
}
/*  */
#btns{
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
 gap: 5rem;
 padding-right: 10%;
}
#btns button{
 transition: 0.1s;
 font-size: 16px;
 font-weight: 500;
 padding: 0.5rem 2rem;
 border-radius: 20px;
 background-color: var(--main);
 color: var(--tertiary);
 border: 1px solid var(--main);
 /* gap: 1rem; */
}
#btns button:hover{
 transition: 0.1s;
 cursor: pointer;
 background-color: #0d6886;
 border: 1px solid #0d6886;
}

