*{
 font-family: poppins;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
:root{
 --main: #118ab2;
 --main-dark: #0d6886;
 --secondary: #ef476f;
 --secondary-light: #F79FB4;
 --white: #ffffff;
 --black: #212529;
 --grey: #ccc;
 --grey-light: #e9ecef;
 --grey-dark: #495057;
}
body{
 position: relative;
 width: 100vw;
 height: 100vh;
 display: grid;
 grid-template: 1fr 5fr / 1fr 5fr;
 grid-template: 185px auto / 1fr 5fr;
 grid-template-areas: "aside header" "aside main";
 overflow-x: hidden;
 position: relative;
}


/* ----- Header ----- */
header{
 grid-area: header;
 background-color: var(--white);
 box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1) , 0px 1px 2px 0px rgba(0,0,0,0.06) ;
 display: grid;
 grid-template: 40% 60% / 60% 40%;
}
#search{
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
 gap: 1rem;
 padding-left: 10%;
}
#search > svg{
 color: var(--grey-dark);
}
#search > input{
 border-radius: 10px;
 height: 30px;
 width: 70%;
 border: 1px solid var(--grey-light);
 padding-left: 1rem;
 background-color: var(--grey-light);
}
#search > input:focus{
 outline: none;
}
#account{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-end;
 gap: 2rem;
 padding-right: 10%;
}
#account > svg{
 color: var(--grey-dark);
}
#account > img{
 height: 90%;
 width: auto;
}
#account > p{
 font-weight: 500;
}
#welcome{
 display: flex;
 flex-direction: row;
 align-items: center;
 padding-left: 10%;
 gap: 1rem;
}
#welcome > img{
 width: 80px;
}
#welcome h4{
 font-size: 20px;
 font-weight: 500;
}
#welcome p{
 font-weight: 400;
}
#btns{
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
 gap: 5rem;
 padding-right: 10%;
}
#btns button{
 transition: 0.1s;
 font-size: 16px;
 font-weight: 500;
 padding: 0.5rem 2rem;
 border-radius: 20px;
 background-color: var(--main);
 color: var(--white);
 border: 1px solid var(--main);
}
#btns button:hover{
 transition: 0.1s;
 cursor: pointer;
 background-color: var(--main-dark);
 border: 1px solid var(--main-dark);
}


/* ----- Aside ----- */
aside{
 top: 0;
 padding-top: 1rem;
 display: flex;
 flex-direction: column;
 gap: 4rem;
 grid-area: aside;
 background-color: var(--main);
 z-index: 1;
 width: 17vw;
 height: 100%;
}
#dashboard{
 position: relative;
 left: 2rem;
}
#dashboard > svg{
 transform: scale(1.2);
}
.aside-item{
 position: relative;
 left: 2rem;
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 20px;
}
#dashboard:hover{
 cursor: default;
}
.aside-item:hover{
 cursor: pointer;
}
#dashboard:hover *{
 transition: 0s;
 color: var(--white);
 text-decoration: none;
}
.aside-item:hover *{
 text-decoration: var(--secondary-light) underline;
 text-underline-offset: 5px;
 text-decoration-thickness: 2px;
}
.aside-item > svg, .aside-item > p, .aside-item > h2{
 color: var(--white);
}
.aside-item > h2{
 font-weight: 500;
 font-size: 2rem;
}
.aside-item > p{
 font-size: 1.2rem;
}
#main, #extra{
 display: flex;
 flex-direction: column;
 gap: 15px;
}


/* ----- Main ----- */
main{
 display: grid;
 grid-template: 1fr 1fr / 3fr 1fr;
 grid-template-areas: "projects announcements" "projects trending";
 gap: 2.5rem;
 padding: 2.5rem;
 height: auto;
 grid-area: main;
 background-color: var(--grey-light);
 z-index: -1;
}
section{
 display: grid;
 grid-template-rows: 3rem 1fr;
}
.heading{
 display: flex;
 flex-direction: row;
 align-items: flex-end;
}
.projects{
 padding-left: 1rem;
}
.heading > h4{
 font-weight: 500;
 font-size: 20px;
}
#projects{
 grid-area: projects;
}
#announcements{
 grid-area: announcements;
}
#trending{
 grid-area: trending;
}

/* ----- Projects Section ----- */
#cards-div{
 display: grid;
 grid-auto-rows: 1fr;
 grid-template: 1fr / repeat(auto-fit, minmax(400px, 1fr));
 padding: 1rem;
 gap: 1.5rem;
}
.card{
 background-color: var(--white);
 border-radius: 10px;
 border-left: 5px solid var(--secondary);
 padding: 1rem;
 height: 200px;
 box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1) , 0px 1px 2px 0px rgba(0,0,0,0.06) ;
}
.card > h6{
 font-size: 18px;
 font-weight: 500;
}

/* ----- Announcements Section ----- */
#anc-container{
 background-color: var(--white);
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 1rem;
 padding: 1rem;
 margin-top: 1rem;
 box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1) , 0px 1px 2px 0px rgba(0,0,0,0.06) ;
}
.anc > h6{
 font-size: 16px;
 font-weight: 500;
}
.anc > p{
 font-size: 14px;
}
.hr{
 height: 1px;
 border: none;
 background-color: var(--grey-dark);
}
#anc-container > hr, .anc > p, .hr{
 color: var(--grey-dark);
}

/* ----- Trending section ----- */
#trend-container{
 padding: 1rem;
 margin-top: 1rem;
 background-color: var(--white);
 border-radius: 10px;
 box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1) , 0px 1px 2px 0px rgba(0,0,0,0.06) ;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding-left: 2rem;
}
.user-div{
 display: flex;
 flex-direction: row;
 gap: 1rem;
 align-items: center;
}
.user-div > img{
 height: 60px;
}
.user{
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.handle{
 font-weight: 400;
 font-size: 16px;
}
.user > p{
 color: var(--grey-dark);
 font-size: 14px;
}
